#text-editor {
  .ProseMirror {
    height: calc(100dvh - 9.3rem);
    width: 100%;
    overflow-y: auto;
    padding: 0.5em 0.5em;
    outline: none;
    font-size: 1.025rem;
    font-weight: 400;
    color: rgb(15 23 42 / var(--tw-text-opacity));

    > p:first-child {
      margin-top: 0.5em;
    }

    > h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:first-child {
        margin-top: 0.5em;
      }
    }

    > p:last-child {
      margin-bottom: 0.5em;
    }

    h1 {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: bold;
    }

    h2 {
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: bolder;
    }
  }
}

.editor__menu-button {
  @apply flex cursor-pointer items-center justify-center rounded-md p-2;
}

.editor__menu-button:hover {
  @apply outline outline-stone-300;
}

.editor__menu-button:active {
}

/* is active */
.is-active {
  @apply outline outline-stone-300;
}
