#text-editor {
  .ProseMirror {
    @apply outline-none min-h-[calc(100vh-14rem)];

    > p:first-child {
      @apply mt-0;
    }

    p {
      @apply relative;
    }

    > p:last-child {
      @apply mb-0;
    }

    > h1 {
      @apply mb-3;
      &:first-child {
      }
    }

    > h2 {
      @apply mb-2;
      &:first-child {
      }
    }

    h1 {
      @apply text-3xl font-semibold;
    }

    h2 {
      @apply text-2xl font-semibold;
    }

    /* List styles */
    ul {
      @apply list-disc list-outside pl-5;
    }
    ol {
      @apply list-decimal list-outside pl-5;
    }
  }
}

.ProseMirror {
  /** formatting marks 
  p::after {
    content: '\00b6';
    color: blue;
    opacity: 0.5;
    position: absolute;
    top: 0;
    display: inline-block;
    margin-left: 0.2em;
  }
  */
}

.editor__menu-button {
  @apply flex cursor-pointer items-center justify-center rounded-md p-2;
}

.editor__menu-button:hover {
  @apply outline outline-stone-300;
}

.editor__menu-button:active {
}

/* is active */
.is-active {
  @apply bg-stone-100 text-stone-900 border border-stone-200;
}
